<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.yura.domination"
      android:versionCode="12"
      android:versionName="12"
      android:installLocation="preferExternal">
      
    <!-- android:targetSdkVersion needs to be 11 to hide the legacy menu button -->
    <!-- this also has a side effect of hiding the legacy resize button -->
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    
    <!-- this means i dont need different assets for different resolutions -->
    <!-- supports-screens android:anyDensity="false"/ -->
    <!-- THIS DOES NOT WORK IF hardwareAccelerated=true!!!! -->
    
    <application android:name="net.yura.android.AndroidMeApp"
		         android:icon="@drawable/icon"
		         android:label="@string/app_name"
		         android:theme="@style/android:Theme.Light.NoTitleBar"
		         android:hardwareAccelerated="true"
		         android:debuggable="true"
        >
        <!-- android:backupAgent="TheBackupAgent" cant get this to work :( -->

        <activity android:name="net.yura.android.AndroidMeActivity"
            	  android:launchMode="singleTask"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustResize|stateHidden"
                  android:configChanges="locale|orientation|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="net.yura.android.OptionPaneActivity" android:configChanges="orientation|keyboard|keyboardHidden" android:windowSoftInputMode="stateAlwaysHidden" android:theme="@style/DialogTheme"/>
        <activity android:name="net.yura.android.WebViewActivity" android:configChanges="orientation|keyboard|keyboardHidden" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="net.yura.android.LoadingDialog" android:configChanges="orientation|keyboard|keyboardHidden" android:windowSoftInputMode="stateAlwaysHidden" android:theme="@android:style/Theme.NoDisplay"/>
		<activity android:name="net.yura.domination.android.StatsActivity" android:configChanges="orientation|keyboard|keyboardHidden" android:windowSoftInputMode="stateAlwaysHidden" android:theme="@style/Theme" />
        
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIxe-Rf-f53FlB4U2LIu_xF0lTNJfcWOALXBn1VA" />
    </application>

</manifest>
